body{
    background-color: black;
    color: white;
}
.img-link{
    padding: 20px;
    text-align: center;
}
.img-link a{
     text-decoration: none;
     font-size: 40px;
    
     border: 2px solid white;
    
}
.img-link a:hover{
    font-size: 45px;
    border: 5px solid white;
}
h3{
    margin-bottom: 0;
}
p{
    margin-top: -30px;
}